<div class="comment">
  <strong>Commenter:</strong>
  <p>
    <%= comment.commenter %>
  </p>

  <strong>Comment:</strong>
  <p class="text-comment">
    <%= comment.body %>
  </p>

  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
        <%= link_to 'Delete Comment', [comment.article, comment],
                    method: :delete,
                    data: {confirm: 'Are you sure?'},
                    class: "btn btn-danger btn-sm" %>
      </div>
    </div>
  </div>

  <hr>
</div>
