/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
body {
    font-family: Source sans pro;
}
.articles-showing{
    padding-top: 70px;
}
.article{
  padding-top: 50px;
  padding-bottom: 30px;
}
.new-edit-form{
  padding-top: 50px;
}
.jumbotron{
    margin-top: 70px;
}

.btn-create{
  margin-bottom: 10px;
}

#title-index{
  color: 	rgb(82, 82, 122);
}

.title-article{
    color: #2c3e50;
    font-size: 5.0rem;
    padding-bottom: 12px;
    text-transform: uppercase;
}

.text-article{
  text-align: justify;
}

.text-comment{
  text-align: justify;
}

.comment-body{
  margin: 0px;
  width: 100%;
  height: 88px;
}


.comments{
  border: 2px solid #bdc3c7;
}

.container-comment{
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.buttons-show{
  padding-top: 20px;
}

#title-form-article{
  padding-bottom: 30px;
  color: Green;
}

.form_article{
  padding-left: 35%;
  float: none;
  margin: 0 auto;
}

